name: Deploy to Render
permissions:
  contents: read

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout (not needed, but for logs)
        uses: actions/checkout@v4

      - name: Deploy
        run: |
          export API_KEY=${{ secrets.RENDER_API_KEY }}
          bash deploy.sh